<!DOCTYPE html>
<html>
<title>LANDSLIDE RISK APP</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-50re1vxg3et1Nt3QfKpc9cXzQBbfIs7-FA&usqp=CAU');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
img {
   width: 70px;
  height: 70px;
  border-radius: 70%;
}
</style>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
   <img src="https://media-exp1.licdn.com/dms/image/C560BAQF6eM0ZvXRrjg/company-logo_200_200/0/1636955962981?e=1650499200&v=beta&t=LWA8KWHza38liKlaxnjQ-AtSgjR07aEp0lzEzCk_KWg" alt="Avatar">
  </div>
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top">Badulla District Landslide Risk Api</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
      <p class="w3-large w3-center">Api call via bellow url:</p>
    <p class="w3-large w3-center">http://badullalandslideapi/buffer-point?lon={Your Longitude}&lat={Your Latitude}</p>
  </div>
  <div class="w3-display-bottomleft w3-padding-large">
    Powered by <a href="" target="_blank">Cifra</a>
  </div>
</div>

</body>
</html>